@media only screen and (max-width: 1280px) {

	/*-- Header Site --*/

	.row {
		padding: 0 2%;
	}

	.header .top-row .col-1 {
	    width: 21%;
	}

	.header .top-row .col-2 {
	    width: 50%;
	}

	.header .top-row .col-3 {
	    width: 29%;
	}

	.header .row-2 .col-1 {
	    width: 21%;
	}

	.header .row-2 .col-2 {
	    width: 79%;
	}

	.header .row-2 .col-2 .col-2-row-1 .col {
	    padding: 12px 0;
	}

	.header .row-2 .col-2 .col-2-row-1 .col-1 {
	    width: 23%;
	}

	.header .row-2 .col-2 .col-2-row-1 .col-2 {
	    width: 28%;
	}

	.header .row-2 .col-2 .col-2-row-1 .col-3 {
	    width: 30%;
	}

	/*-- /Header Site --*/

	/*-- Section 1 Main Page --*/

	.promo-h-list {

	}

	.promo-h-list li {
		width: 50%;
	}

	/*-- /Section 1 Main Page --*/

	/*-- Section 1 Contacts Page --*/

	.contacts-thumbnails .thumbnail a.tel-link {
		font-size: 26px;
		line-height: 26px;
	}

	/*-- /Section 1 Contacts Page --*/

}


@media only screen and (max-width: 1024px) {

	section {
	    padding: 25px 0;
	}

	.two-cols-tmpl .col-1 {
	    width: 26%;
	}

	.two-cols-tmpl .col-2 {
	    width: 74%;
	}

	/*-- Header Site --*/

	.tel-box .tel-box-col-1 {
	    width: 19%;
	}

	.header .row-2 .col-2 .col-2-row-2 .col {
	    padding: 4px 0;
	}

	.header .row-2 .col-2 .col-2-row-2 .col-1 {
	    width: 37%;
	}

	.header .row-2 .col-2 .col-2-row-2 .col-2 {
	    width: 63%;
	}

	/*-- /Header Site --*/

	/*-- Section 1 Main Page --*/

	.promo-h-list {
		
	}

	.sidebar {
	    margin: 60px 0;
	}

	.two-cols-tmpl .col-2 {
	    padding-left: 2%;
	}

	.promo-img-box {
	    height: 238px;
	}

	.promo-img-box h3,
	.promo-img-box p {
	    font-size: 27px;
	    line-height: 34px;
	}

	.popular-good {
	    width: 25%;
	}

	.promo-img-box img {
	    height: 100% !important;
	    width: auto;
	    min-height: auto;
	    min-width: auto;
	}

	/*-- /Section 1 Main Page --*/


	/*-- Section 2 Main Page --*/

	.steps-work-thumbnails .thumbnail {
	    width: 50%;
	    padding: 13px 4%;
	}

	.steps-work-thumbnails .thumbnail:nth-child(2n):before {
		display: none;
	}

	/*-- /Section 2 Main Page --*/

	/*-- Section 1 Catalog Page --*/

	.catalog-thumbnails .inner {
	    width: 100%;
	    margin: 0;
	}

	.catalog-thumbnails .good-thumbnail {
	    width: 50%;
	}

	.range-values-block .input-range-box {
	    width: 100%;
	}

	.range-values-block .space {
	    width: 100%;
	}

	/*-- /Section 1 Catalog Page --*/

	 /*-- Section 1 Card Page --*/

	.card-table-header .cell-2 {
	    width: 33%;
	}

	.card-table-header .cell-3 {
	    width: 19%;
	}

	.card-table-header .cell-4 {
	    width: 17%;
	}

	.card-table-row .cell-2 .cell-2-cell-1 {
	    width: 40%;
	}

	.card-table-row .cell-2 .cell-2-cell-2 {
	    width: 24%;
	}

	.card-table-row .cell-2 .cell-2-cell-3 {
	    width: 23%;
	}

	.card-table-row .cell-2 .cell-2-cell-4 {
	    width: 13%;
	    text-align: center;
	}

	.filling-item .col {
	    padding: 10px 0;
	}

	.filling-item .col-1 {
	    width: 100%;
	}

	.filling-item .col-2 {
	    width: 100%;
	}

	.filling-item .col-1 .inner-col-1 {
	    max-width: 70px;
	    padding-right: 0;
	}

	.filling-item .col-1 .inner-col-2 {
	    padding-right: 0;
	    padding-top: 5px 0;
	}

	 /*-- /Section 1 Card Page --*/

	/*-- Section 1 Contacts Page --*/

	.contacts-thumbnails .thumbnail {
	    width: 50%;
	}

	/*-- /Section 1 Contacts Page --*/

	/*-- Section 2 Contacts Page --*/

	.map-box {
	    height: 420px;
	}

	.map-box #map {
	    height: 420px;
	}

	/*-- /Section 2 Contacts Page --*/

	/*-- Footer --*/

	.footer .col-1 {
	    width: 73%;
	}

	.footer .col-3 {
	    width: 100%;
	    min-height: auto;
	    padding: 19px 0 10px 0;
	}

	.bottom-list {
	    position: relative;
	    padding: 20px 0 0 0;
	}

	/*-- /Footer --*/

}


@media only screen and (max-width: 768px) {

	.tab-visible {
	    display: block;
	}

	.tab-hidden {
	    display: none !important;
	}

	.sidebar-thumb {
		box-shadow: none;
	}

	.content {
		padding-top: 68px;
	}

	/*-- Header Site --*/

	.header {
		display: none;
	}

	.resp-header {
		display: block;
	}

	/*-- /Header Site --*/

	/*-- Section 1 Main Page --*/

	.two-cols-tmpl h2 {
	    display: none;
	}

	.two-cols-tmpl .col-1 {
	    width: 100%;
	}

	.two-cols-tmpl .col-2 {
	    width: 100%;
	    padding-left: 0;
	}

	.sidebar {
	   	margin: 25px 0;
	}

	.promo-h-list {
		
	}

	.populars {
	    
	}

	.promo-img-box h3,
	.promo-img-box p {
	    font-size: 19px;
	    line-height: 20px;
	}

	.popular-good {
	    width: 33.33%;
	}

	.popular-good:nth-child(3n):after {
		display: none;
	}

	/*-- /Section 1 Main Page --*/

	/*-- Section 3 Main Page --*/

	.sl-pagination {
	    padding: 9px 1% 0 1%;
	}

	.more-white-link {
	    bottom: -19px;
	    top: initial;
	}

	/*-- /Section 3 Main Page --*/

	/*-- Section 4 Main Page --*/

	.advantages-thumbnail .thumbnail {
	    width: 33.33%;
	}

	/*-- /Section 4 Main Page --*/

	/*-- Section 1 Catalog Page --*/


	/*-- /Section 1 Catalog Page --*/

	/*-- Responsive Sort Block --*/

	.range-values-block .input-range-box {
	    width: 43%;
	}

	.range-values-block .space {
	    width: 14%;
	}

	/*-- Responsive Sort Block --*/

	/*-- Section 1 Card Page --*/

	.card-table-header {
		display: none;
	}

	.card-table-row .cell-2 .cell {
		padding: 10px 1%;
	}

	.card-table-row .cell-1 {
	    width: 18%;
	}

	.card-table-row .cell-2 {
	    width: 77%;
	}

	.card-table-row .cell-3 {
	    width: 5%;
	}

	.card-table-row .cell-2 .cell {
	    vertical-align: top;
	}

	.card-table-row .cell-2 .cell-2-cell-1 {
	    width: 100%;
	}

	.card-table-row .cell-2 .cell-2-cell-2 {
	    width: 28%;
	}

	.card-table-row .cell-2 .cell-2-cell-3 {
	    width: 36%;
	}

	.card-table-row .cell-2 .cell-2-cell-4 {
	    width: 36%;
	}

	.card-table-row p.p-resp {
		display: block;
		padding: 10px 0;
	}

	.filling-item .col-2 .inner-col {
		padding-top: 0;
	}

	.filling-item .col-2 .inner-col-1 {
	    width: 50%;
	}

	.filling-item .col-2 .inner-col-2 {
	    width: 50%;
	}

	.filling-item .col-2 .inner-col-3 {
	    width: 50%;
	}

	.delivery-thumbnails .thumbnail {
	    padding: 0 0.5%;
	}

	.tab-form .input-block {
	    width: 48%;
	}

	.filling-item .col-2 .textarea-block {
	    width: 56%;
	}

	.filling-item .col-2 .textarea-block {
	    width: 56%;
	}

	.filling-item .col-2 .submit-btn-col {
	    width: 44%;
	}

	 /*-- /Section 1 Card Page --*/

	/*-- Footer --*/

	.footer .col-1 {
	    width: 100%;
	}

	.footer-table .table-cell {
	    padding: 0 4% 0 0;
	}

	.footer .col-2 {
	    width: 50%;
	}

	.footer .col-3 {
	    width: 50%;
	}

	.seo-txt-block {
	    padding: 0 0 10px 0;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 600px) {

	.promo-header {
		display: none;
	}

	.populars {
		display: none;
	}

	.sidebar {
	    margin: 5px 0;
	}

	/*-- Responsive Sort Block --*/

	.resp-sort-block .checkbox-block {
	    width: 49%;
	}

	/*-- .Responsive Sort Block --*/

	/*-- Section 1 Card Page --*/

	.filling-item .col-2 .inner-col-1 {
	    width: 100%;
	}

	.filling-item .col-2 .inner-col-2 {
	    width: 100%;
	}

	.filling-item .col-2 .inner-col-3 {
	    width: 100%;
	}

	.filling-item .col-2 .textarea-block {
	    width: 100%;
	}

	.filling-item .col-2 .submit-btn-col {
	    width: 100%;
	}

	.filling-item .input-block {
	    width: 100%;
	}

	.filling-item .col-2 .textarea-block {
	    padding-right: 0;
	}

	.submit-btn {
	    padding: 7px 1%;
	}

	 /*-- /Section 1 Card Page --*/

	 /*-- Section 1 News Page --*/

	 .articles-box {
	    margin: 23px 0 39px 0;
	}

	.two-cols-article {
	    padding: 14px 0 19px 0;
	}

	.two-cols-article .col-1 {
	    width: 100%;
	    padding: 5px 0;
	}

	.two-cols-article .col-2 {
	    width: 100%;
	    padding-left: 0;
	}

	.two-cols-article .col-2 h3 {
	    line-height: 29px;
	    padding-bottom: 12px;
	}

	.load_more_btn {
	    margin: 36px auto 10px auto;
	    max-width: 65%;
	    width: 65%;
	}

	/*-- /Section 1 News Page --*/


	/*-- Section 2 Contacts Page --*/

	.map-box {
	    height: 270px;
	}

	.map-box #map {
	    height: 270px;
	}

	/*-- /Section 2 Contacts Page --*/

}

@media only screen and (max-width: 480px) {

	.wrapper {
		padding-top: 20px;
	}

	.shape_1_bg {
	    background-image: none;
	}

	.content {
	    padding-top: 16px;
	}

	/*-- Header Site --*/

	.resp-header-top-row {
	    padding: 8px 0;
	    background: rgb(255, 255, 255);
	}

	/*-- /Header Site --*/

	/*-- Section 1 Main Page --*/

	.promo-sect .row {
		padding: 0;
	}

	.sidebar {
	    margin: 0;
	}

	.promo-box {
	    margin: 12px 0 0 0;
	}

	.promo-header {
		display: none;
	}

	.promo-img-box {
	    height: 190px;
	}

	.promo-img-box h3,
	.promo-img-box p {
	    font-size: 14px;
	    line-height: 17px;
	}

	/*-- /Section 1 Main Page --*/

	/*-- Section 2 Main Page --*/

	.steps-work-thumbnails .thumbnail {
	    width: 100%;
	    padding: 13px 4%;
	}

	.steps-work-thumbnails .thumbnail:nth-child(2n):before {
		display: block;
	}

	.steps-work-thumbnails .thumbnail:nth-child(1):before {
		display: none;
	}

	.steps-work-thumbnails .thumbnail:before {
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		position: relative;
		margin: 7px auto;
		top: 0;
		right: 0;
	}

	/*-- /Section 2 Main Page --*/

	/*-- Section 3 Main Page --*/

	.good-thumbnail {
	    max-width: auto !important;
	    min-width: auto !important;
	}

	/*-- /Section 3 Main Page --*/

	/*-- Section 4 Main Page --*/

	.advantages-thumbnail {
	    margin: 29px 0 14px 0;
	}

	.advantages-thumbnail .thumbnail {
	    width: 50%;
	}

	/*-- /Section 4 Main Page --*/

	/*-- Section 5 Main Page --*/

	.brands-slider-box .slide-arrow {
	    top: 100%;
	    margin: -20px 0 0 0;
	}

	/*-- /Section 5 Main Page --*/

	/*-- Responsive Sort Block --*/

	.resp-sort-block .checkbox-block {
	    width: 100%;
	}

	/*-- /Responsive Sort Block --*/

	/*-- Section 1 Catalog Page --*/

	.header-section .select-block {
	    margin: 10px 2% 10px 0;
	}

	.catalog-thumbnails .good-thumbnail {
	    width: 80%;
	    display: block;
	    margin: 0 auto;
	}

	.load_more_btn {
	    width: 100%;
	}

	/*-- /Section 1 Catalog Page --*/

	/*-- Section 1 Card Page --*/

	.card-table-row .cell-1 {
	    width: 25%;
	}

	.card-table-row .cell-2 {
    	width: 75%;
	}

	.card-table-row .cell-2 .cell-2-cell-1 {
	    padding-right: 25px;
	}

	.card-table-row .cell-2 .cell-2-cell-2 {
	    width: 50%;
	}

	.card-table-row .cell-2 .cell-2-cell-3 {
	    width: 50%;
	    text-align: right;
	}

	.card-table-row .cell-2 .cell-2-cell-4 {
	    width: 100%;
	    text-align: right;
	}

	.card-table-row .cell-3 {
	    width: 5%;
	    position: absolute;
	    top: 6px;
	    right: 1%;
	}

	.card-table-row .cell-2 .cell-2-cell-4 p.p-resp {
		display: inline-block;
		vertical-align: top;
		padding: 0 10px 0 0;
	}

	.total-price-row p {
	    font-size: 22px;
	}

	.delivery-info .tab {
	    min-height: auto;
	}

	.tab-form .input-block {
	    width: 100%;
	}

	.submit-btn {
	    width: 100%;
	    max-width: 100%;
	}

	/*-- /Section 1 Card Page --*/

	/*-- Section 1 News Page --*/

	.load_more_btn {
	    max-width: 84%;
	    width: 84%;
	}

	/*-- Section 1 News Page --*/

	/*-- Section 1 Contacts Page --*/

	.contacts-thumbnails .inner {
		width: 100%;
		margin: 0;
	}

	.contacts-thumbnails .thumbnail {
	    display: inline-block;
	    vertical-align: top;
	    width: 100%;
	    padding: 10px 0;
	}

	/*-- Section 1 Contacts Page --*/

}

@media only screen and (max-width: 380px) {

	.card-table-row .cell-1 {
	    width: 100%;
	}

	.card-table-row .cell-2 {
	    width: 100%;
	}

	.card-table-row .table-cell {
	    margin: 2px 0;
	}

	.card-table-row .cell-2 .cell {
	    padding: 6px 1%;
	}

}

@media only screen and (max-width: 350px) {

	.row {
		padding: 0 3%;
	}

	/*-- Header Site --*/

	/*-- Responsive Navigation --*/

	.top-nav-resp li {
	    display: inline-block;
	    vertical-align: top;
	    padding: 5px 3px;
	}

	/*-- /Responsive Navigation --*/

	/*-- /Header Site --*/


	/*-- Section 1 Main Page --*/

	.promo-h-list {
		
	}

	/*-- /Section 1 Main Page --*/

	/*-- Section 6 Main Page --*/

	.brands-section {
		display: none;
	}

	/*-- /Section 6 Main Page  --*/

	/*-- Section 1 Catalog Page --*/

	.catalog-thumbnails .good-thumbnail {
	    width: 98%;
	}

	/*-- /Section 1 Catalog Page --*/

	/*-- Footer --*/

	.footer .col {
		float: none;
		padding: 6px 0;
	}

	.footer .col-1 {
	    width: 100%;
	}

	.footer-table .table-cell {
		width: 100%;
	    padding: 0 3% 0 0;
	}

	.footer-table .table-cell:nth-child(2n + 1) {
		width: 60%;
		padding: 0 2% 0 0;
	}

	.footer-table .table-cell:nth-child(2n) {
		width: 40%;
		padding: 0 0 0 2%;
	}

	.footer .col-2 {
	    width: 100%;
	}

	.footer .col-3 {
	    width: 100%;
	}

	.resp-tel-box ul li {
	    padding: 3px 1px;
	}

	.resp-tel-box ul li a {
	    font-size: 14px;
	    line-height: 18px;
	}

	/*-- /Footer --*/

}


@media only screen and (min-width: 769px) {

	/*-- Header Site --*/

	.resp-nav {
		display: none !important;
	}

	/*-- /Header Site --*/

	/*-- Section 1 Main Page --*/


	/*-- /Section 1 Main Page --*/

	/*-- Responsive Sort Block --*/

	.resp-sort-block {
		display: none!important;
	}

	/*-- .Responsive Sort Block --*/

}